<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-heading">
            <div class="navbar-brand">PureNotes</div>
        </div>
        
        <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Notes', auth_root_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                
            </ul>
        <% else %>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'Login', new_user_session_path %></li>
                <li><%= link_to 'Register', new_user_registration_path %></li>
            </ul>
        <% end %>
        
    </div>
</div>